<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>

<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12">
                <!-- sample table -->
                <h1 class="h1 fw-bold">Dashboard</h1>

                <div class="card">
                    <h5 class="card-header">Manage Users</h5>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <% users.forEach(function(user, index) { %>
                            <tbody>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= user.fullName %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.role %></td>
                                        <td><%= user.status %></td>
                                        <td>
                                            <a href="/v1/chief/delete/<%=user.id%>" class="btn btn-sm btn-secondary me-1" data-bs-toggle="tooltip" data-bs-title="View Details">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="/v1/chief/delete/<%=user.id%>" class="btn btn-sm btn-danger confirm-link"  data-bs-toggle="tooltip" data-bs-title="Delete" >
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <% }); %>
                        </table>
                    </div>
                    <div class="card-footer">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/scripts') %>
</body>

</html>
