<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Edit User <%= user.fullname %>
    </title>
    <style>
      #updateButton:disabled {
        opacity: 0.5;
      }
    </style>
</head>

<body>
  <%- include('./partials/nav') %>
  <div class="div">
    <section class="section">
        <div id="button-container"></div>
    </section>
</div>
    <section class="vh-96">
      <div class="container py-5 h-96">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light-subtle text-dark" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div>
                  <h2 class="fw-bold mb-2 text-uppercase">Edit User "<%= currentUser.fullname %>"</h2>
                  <p class="text-dark-50 mb-5">_________________________________</p>

                  <form action="/v1/chief/update/<%= currentUser.id %>" method="post" id="loginForm">

                    <!-- Username and Fullname fields -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" class="form-control form-control-lg" id="username" name="username"
                        value="<%= currentUser.username %>" readonly />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" class="form-control form-control-lg" id="Fullname" name="fullname"
                        value="<%= currentUser.fullname %>" />
                    </div>

                    <!-- Role dropdown -->
                    <select class="form-select form-outline mb-4" aria-label="Default select example" name="role">
                      <option selected aria-readonly="true">
                        <%= currentUser.role %>
                      </option>
                      <option value="admin">Admin</option>
                      <option value="super_admin">SuperAdmin</option>
                    </select>

                    <!-- Status radio buttons -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="status" id="btnradio1" autocomplete="off"
                          value="active" <%=currentUser.status==='active' ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary " for="btnradio1">Active</label>

                        <input type="radio" class="btn-check" name="status" id="btnradio2" autocomplete="off"
                          value="disabled" <%=currentUser.status==='disabled' ? 'checked' : '' %>>
                        <label class="btn btn-outline-primary " for="btnradio2">Disabled</label>
                      </div>

                      <% if (typeof errorMessage !=="undefined" ) { %>
                        <script>
                          document.addEventListener('DOMContentLoaded', function () {
                            Toastify({
                              text: "<%= errorMessage %>",
                              duration: 3000,
                              close: true,
                              gravity: "top", // `top` or `bottom`
                              position: "right", // `left`, `center` or `right`
                              backgroundColor: "red",
                            }).showToast();
                          });
                        </script>
                        <% } %>

                          <div class="mt-3">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn bg-dark text-light btn-md px-5"
                              id="updateButton" type="submit" disabled>Update</button>
                          </div>

                          <div class="mt-3">
                            <a href="/v1/chief/user/Changepassword/<%=currentUser.id%>">
                              <button data-mdb-button-init data-mdb-ripple-init
                                class="btn bg-dark text-light btn-md px-5" type="submit"
                                disabled>Changepassword</button>
                            </a>
                          </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/scripts') %>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const fullnameInput = document.getElementById('Fullname');
          const statusRadios = document.querySelectorAll('input[name="status"]');
          const submitButton = document.getElementById('updateButton');

          function validateForm() {
            const fullname = fullnameInput.value;
            const isStatusSelected = Array.from(statusRadios).some(radio => radio.checked);

            // Enable submit button if Fullname is not empty and a status is selected
            if (fullname !== '' && isStatusSelected) {
              submitButton.disabled = false;
            } else {
              submitButton.disabled = true;
            }
          }

          fullnameInput.addEventListener('input', validateForm);
          statusRadios.forEach(radio => radio.addEventListener('change', validateForm));
        });
      </script>
</body>

</html>